<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
    <head>
        <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
          href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
        <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>
        <meta charset="utf-8">
        <link th:href="@{/resources/css/navigationbar.css}" rel="stylesheet"
        href="../static/resources/css/navigationbar.css" type="text/css"/>
        <link th:href="@{/resources/css/verwaltung.css}" rel="stylesheet"
        href="../static/resources/css/verwaltung.css" type="text/css"/>
        <meta charset="utf-8">
    </head>

    <body>
    <nav th:fragment="manageNavigation">
        <!--Navigation Links-->
        <div class="verwtable">
        <header th:text="#{manageNav.caption}" class="manageHeader">Verwalten</header>
        <hr class="manageHr">

        <a href="accountOverview.html" th:href="@{/accountOverview}" th:text="#{manageNav.account}">Account Übersicht</a>
        <a href="manageProfile.html" th:href="@{/manageProfile}" th:text="#{manageNav.profile}">Profil bearbeiten</a>
        <div sec:authorize="hasAnyRole('BOSS')">

            <a href="manageEmployee.html" th:href="@{/manageEmployee}" th:text="#{manageNav.employees}">Mitarbeiter verwalten</a>
        </div>
        <div sec:authorize="hasAnyRole('EMPLOYEE','BOSS')">

            <a href="manageMember.html" th:href="@{/manageMember}" th:text="#{manageNav.members}">Mitglieder verwalten</a>
        </div>
        <div sec:authorize="hasAnyRole('EMPLOYEE','BOSS')">

            <a href="manageShop.html" th:href="@{/manageShop}" th:text="#{manageNav.shop}">Shop verwalten</a>
        </div>
        <div>

            <a href="manageRequest.html" th:href="@{/manageRequest}" th:text="#{manageNav.requests}">Anträge verwalten</a>
        </div>
        <div sec:authorize="hasAnyRole('BOSS')">

            <a href="manageStudio.html" th:href="@{/manageStudio}" th:text="#{manageNav.studio}" >Studio verwalten</a>
        </div>
		<div sec:authorize="hasAnyRole('EMPLOYEE','BOSS')">

            <a href="shopStatistics.html" th:href="@{/shopStatistics}" th:text="#{manageNav.statistics}" >Shop Statistiken</a>
        </div>

        </div>

        
        <ul class="menu">
            <li>
              <a>D<br>O<br>W<br>N<br>L<br>O<br>A<br>D<br>S</a>
              
              <ul>
                <div sec:authorize="hasRole('EMPLOYEE')">
                    <form method="post" th:action="@{/downloadGC}">
                        <li><button th:text="#{nav.paycheck}" class="verwbuttonsColored" 
                            id="verwbuttonsNav" type="submit">Gehaltscheck<br>.pdf</button></li>
                    </form>
                </div>
                <form method="post" th:action="@{/downloadTA}">
                    <li><button th:text="#{nav.transactions}" class="verwbuttonsColored" 
                        id="verwbuttonsNav" type="submit">Trans-<br>aktionen.pdf</button></li>
                </form>
                <div sec:authorize="hasRole('BOSS')">
                    <form method="post" th:action="@{/downloadNBL}">
                        <li><button th:text="#{nav.reOrder}" class="verwbuttonsColored" 
                            id="verwbuttonsNav" type="submit">Nachbestell-<br>liste.pdf</button></li>
                    </form>
                </div>
              </ul>
            </li>
          </ul>
	</nav>
    </body>
</html>