<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
  <head>
        <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
          href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
        <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>
        <link th:href="@{/resources/css/navigationbar.css}" rel="stylesheet"
        href="../static/resources/css/navigationbar.css" type="text/css"/>
        <link th:href="@{/resources/css/verwaltung.css}" rel="stylesheet"
        href="../static/resources/css/verwaltung.css" type="text/css"/>
        <meta charset="utf-8">
        <title th:text="#{verwaltung.title}">Fitnessstudio</title>
  </head>

  <body>
    <div id="brpic"></div>

      <!-- Haupt-Navigationsleiste -->
      <nav th:include="navigation :: navigation"></nav>

      <!-- Verwaltungs-Navigationsleiste -->
      <nav th:include="manageNavigation :: manageNavigation"></nav>

      <!-- Hauptelement1 -->
      <article class="mainelement" id="rightsidedmainelement">
          <header>Information zur Verwaltung</header>
          <hr>
          <p>Hier können sie ihre Einstellungen anpassen oder ihre Anträge
            einsehen. Priviligierte User können darüber hinaus noch viele
            weitere Funktionen verwenden.
          </p>
      </article>
      
  </body>
</html>
